<%= title "#{@part.part_number} - #{@part.name}" %>

<% if @part.shopify_product %>
    <div data-controller="add-to-cart" data-add-to-cart-variant-id-value="<%= @part.shopify_storefront_id %>">
<% end %>
<%= render(ButtonRowComponent.new) do %>
  <%= render(BaseButtonComponent.new(href: parts_path)) do %>
    &larr; All Parts
  <% end %>
  <%= render(BaseButtonComponent.new(href: admin_part_path(@part))) do %>
    Admin View
  <% end %>
  <% if @part.shopify_product %>
      <%= render(BaseButtonComponent.new(href: '#', data_action: 'click->add-to-cart#add')) do %>
        Add to Cart
      <% end %>
  <% end %>
<% end %>
<% if @part.shopify_product %>
  </div>
<% end %>
<%= render(PartViewerComponent.new(part: @part)) %>