<h1>
  <%= @part.part_number %>
  <span class="<%= @status_class %> text-xs font-semibold mr-2 px-2.5 py-0.5 rounded align-middle">
    <%= t @part.status_t %>
  </span>
</h1>
<h2><%= @part.name %></h2>
<% if @part.created_by %>
  <p>Created by <%= @part.created_by %></p>
<% end %>
<% unless @part.vendor.blank? %>
  <p><%= t 'activerecord.attributes.part.vendor' %>: <%=  @part.vendor  %></p>
<% end %>
<% if @part.mass %>
  <p><%= t 'activerecord.attributes.part.mass' %>: <%= @part.mass %></p>
<% end %>
<% unless @part.country_of_origin.blank? %>
  <p><%= t 'activerecord.attributes.part.country_of_origin' %>: <%= IsoCountryCodes.find(@part.country_of_origin).name %></p>
<% end %>
<% unless @part.hs_code.blank? %>
  <p>
    <%= t 'activerecord.attributes.part.hs_code' %>:
    <%= @part.hs_code %>
    <% if @part.hs_code_description %>
      (<%= @part.hs_code_description %>)
    <% end %>
  </p>
<% end %>
<h3>Description</h3>
<div class="block p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <%= @part.description %>
</div>
