<% if @part.errors.full_messages.any? %>
  <% @part.errors.full_messages.each do |error_message| %>
    <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
      <span class="font-medium">Validation error!</span> <%= error_message %>
    </div>
  <% end %>
<% end %>

<%= form_for @part, url: @creating ? admin_parts_path : admin_part_path(@part), method: @creating ? :post : :put, builder: ComponentFormBuilder do |f| %>
  <%= render(InputGroupComponent.new) do %>
    <%= f.label :part_number %>
    <%= f.text_field :part_number %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.label :status %>
    <%= f.select :status, Part::ALL_STATUSES.map { |status| [t(Part.status_to_t(status)), status] } %>

    <%= f.label :vendor %>
    <%= f.text_field :vendor %>

    <%= f.label :mass_grams %>
    <%= f.text_field :mass_grams %>

    <%= f.label :country_of_origin %>
    <%= f.select :country_of_origin, [["", nil]] + IsoCountryCodes.for_select %>

    <%= f.label :hs_code %>
    <%= f.text_field :hs_code %>

    <%= f.label :description %>
    <div class="col-span-6 md:col-span-4 lg:col-span-5">
      <%= f.rich_text_area :description %>
    </div>

    <%= f.label "Actions" %>
    <%= f.submit %>
    <% if !@creating && Pundit.policy(@user, @part).destroy? %>
      <%= f.submit "Delete Part", formmethod: :delete, class: BaseButtonComponent::STYLES[:danger] %>
    <% end %>
  <% end %>
<% end %>