<%= title "#{@part.part_number} - #{@part.name}" %>

<div class="mb-5">
  <%= render(BaseButtonComponent.new(path: admin_parts_path)) do %>
    &larr; All Parts
  <% end %>
  <% if @part.public? %>
    <%= render(BaseButtonComponent.new(path: part_path(@part))) do %>
      Public View
    <% end %>
  <% end %>
  <%= render(BaseButtonComponent.new(path: edit_admin_part_path(@part))) do %>
    Edit
  <% end %>
  <% if @part.shopify_product %>
    <%= render(BaseButtonComponent.new(path: @part.shopify_product_url)) do %>
      View in Shopify
    <% end %>
    <%= button_to "Destroy Shopify Product", { action: 'destroy_shopify' }, class: BaseButtonComponent::STYLES[:danger], form_class: 'inline' %>
  <% elsif @part.can_create_shopify_product? %>
    <%= button_to "Create Shopify Product", { action: 'create_shopify' }, class: BaseButtonComponent::STYLES[:primary], form_class: 'inline' %>
  <% end %>
</div>
<%= render(PartViewerComponent.new(part: @part)) %>