<%= title "#{@part.part_number} - #{@part.name}" %>

<div class="mb-5">
  <%= render(BaseButtonComponent.new(path: admin_parts_path)) do %>
    &larr; All Parts
  <% end %>
  <% if @part.public? %>
    <%= render(BaseButtonComponent.new(path: part_path(@part))) do %>
      Public View
    <% end %>
  <% end %>
  <%= render(BaseButtonComponent.new(path: edit_admin_part_path(@part))) do %>
    Edit
  <% end %>
</div>
<%= render(PartViewerComponent.new(part: @part)) %>