<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) + " - Admin - Lutris Parts Registry" : "Admin - Lutris Parts Registry" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "trix", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white dark:bg-gray-800 text-gray-600 dark:text-gray-300">
    <main class="container mx-auto my-5">
      <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
        <span class="font-medium">Admin mode!</span> You are signed in to the admin panel as <%= current_user.email %>.
      </div>
      <% if flash[:notice] %>
        <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
          <span class="font-medium">Notice:</span> <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
